.header{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px 0px #0000001A;
    height: 119px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: -1px;
    left: 0;

    transition: transform 0.3s ease;
    z-index: 999;
}


.header_main_menu{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-right: 25px;
}
.header_main_menu a{
    color: #18131B;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;

    margin-left: 15px;
}
.header_cart_button{
    position: relative;
}
.main_menu_basket{
    display: flex;
}

.header .summ_products{
    margin: 20px 16px 0 16px;
}
.main_page .summ_products{
    margin: 20px 16px 0 16px;
}
.cart_modal{

    opacity: 0;
    transition: 1s;
    position: absolute;
    top: 80px;
    right: -300px;
    overflow: hidden;
    z-index: 9;
    padding: 0 16px;
    min-height: 257px;
    border-radius: 30px;
    border: 1px solid #CCD7E2;
    box-shadow: 0px 0px 15px 0px #4D344A26;
    min-width: 336px;
    background: #FFFFFF;

}
.opacity_o{
    opacity: 1 !important;
    transform: translateX(0%) !important;
}
.opacity_t{
    opacity: 1 !important;
    right: 60px !important;
}
.cart_modal_h{
    transform: translateX(200%);
    opacity: 0;
    transition: 1s;
    position: absolute;
    top: 80px;
    right: 0px;
    overflow: hidden;
    z-index: 9;
    padding: 0 16px;
    min-height: 257px;
    border-radius: 30px;
    border: 1px solid #CCD7E2;
    box-shadow: 0px 0px 15px 0px #4D344A26;
    min-width: 336px;
    background: #FFFFFF;

}
.cart_modal_text{
    margin-top: 36px;
    width: 100%;
    margin-left: 16px;
    text-align: left;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
   text-transform: none;


}
.empty_cart{
    margin-top: 35px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 400;
}
hr{
    margin: 0 16px;
    background: #EFECF0;
}
.button_close_cart{
    padding: 30px 16px;
    width: 100%;
    background: #FFFFFF;
    border: none;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-align: center;

}
@media screen and (max-width: 1000px) {
    .burger_menu{
        width: 18px;
        height: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        margin-right: 3px;
    }
    .burger_menu div{
        height: 1px;
        border-top: 1px solid #18131B;
    }
    .mobile_menu{
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(0);
        transition: 0.5s;
        opacity: 1;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        z-index: 998;
    }
    .mobile_menu div{
        margin-bottom: 25px;
        font-family: Montserrat;
        font-weight: 300;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        color: #1E0C2D;

    }
    .mobile_menu .society_mob_menu{
        display: flex;
        gap: 10px;
        z-index: 999;
        margin-top: 8px;
    }
    .fish_mobile_menu{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .cat_mobile_menu{
        position: absolute;
        right: 0;
        top: 71px;
    }
    .start_pos_mob_menu{
        transform: translateX(100%);
        opacity: 0;
    }
    .mob_cart_btn{
        position: fixed;
        right: 20px;
        z-index: 996;
        bottom: 200px;
    }
    .opacity_mob{
        transform: translateX(0) !important;
        opacity: 1 !important;
        display: flex !important;
    }
    .modal_cart_allscreen{
        transition:  1s;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.2);
        position: fixed;
        display: none;
        opacity: 0;
        top: 0;
        left: 0;
        z-index: 9999;

        justify-content: center;
        align-items: center;
    }
    .cart_modal_mob{
        pointer-events: all;
        opacity: 1;
        transition: 1s;
        position: absolute;
        top: 80px;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 9;
        padding: 0 16px;
        min-height: 257px;
        border-radius: 30px;
        max-height: 66vh;
        border: 1px solid #CCD7E2;
        box-shadow: 0px 0px 15px 0px #4D344A26;
        min-width: 75%;
        background: #FFFFFF;

    }
    .all_products_basket{
        margin-top: 25px;
        overflow-y: hidden;
        max-height: initial;

    }
    .to_cart{
        padding: 24px;
    }
    .product_image_basket img {
        max-width: 72px;
        max-height: 90%;
        width: auto;
    }
    .product_desc .add_to_cart{
        display: none;
    }
    .product_desc_main {
        padding: 0 20px !important;
    }

}



.basket_product_name{
    text-transform: uppercase;
}
.modal_cart_allscreen{
    display: none;
}