.thank_you .products_details{
    align-items: initial;
    margin-left: 100px;
}
.thank_you .details_text{
    text-align: left;
}
.thank_you .basket_details{
    grid-template-columns: 1fr;
    max-width: 50%;
}
.thank_you .summ_products{
    width: 400px;
}
.thank_you .basket_product{
    width: 405px;
}
.thank_you .kr_block{
    display: none;
}
.thank_you .product_quantity img{
    display: none;
}
.thank_you .product_quantity {
    grid-template-columns: 1fr;
}