*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat;
    scroll-behavior: smooth;

}
.header {
    transform: translateY(0); /* Показываем */
}
.dis_block{
    display: block !important;
}
.main .header{
    transform: translateY(-100%);
}
.main .header.visible {
    transform: translateY(0); /* Показываем */
}

a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
    overflow: hidden;
}
.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.header_cart_button{
    display: flex;align-items: center;
}
.main_page .basket_product, .header_cart_button .basket_product{
    margin-top: 35px;
    border-bottom: 1px solid #EFECF0;
}
.to_cart{
    color: #7B181E;
    border: 1px solid #7B181E;
    border-radius: 90px;
    margin-top: 25px;
    width: 100%;
    padding: 30px;
    background: #FFFFFF;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;

}

.all_products_basket{
    height: auto;
    max-height: 70vh;
    overflow-y: scroll;
}
