.main_page {
    width: 100%;
    margin-top: -48px;
}

.main_banner_block {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main_banner img {
    width: 100%;
}

.main_banner_block_info {
    background: #FFFAFA url("./images/banner_background.svg") center center no-repeat;
    width: 100%;
}

.main_banner_info {
    display: flex;
    align-items: flex-start;

}

.main_menu_basket {
    margin-left: auto;
    margin-right: 60px;
    height: 120px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;

}

.basket_block {
    display: flex;
    align-items: center;
}

.main_info_marsea {
    margin-top: 159px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.banner_h1 {
    width: 550px;
    text-align: center;

    font-family: Cormorant;
    font-weight: 400;
    font-size: 38px;
    text-transform: uppercase;
    color: #7B181E;

}

.banner_description {
    max-width: 550px;
    margin-top: 10px;
    font-family: Montserrat;
    font-weight: 300;
    width: 90%;
    font-size: 18px;
    text-align: center;
    color: #1E0C2D;
}

.banner_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7B181E;
    margin-top: 20px;
    width: 304px;
    height: 83px;
    border-radius: 90px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}

.bars_main_block {
    margin: 100px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bars_block_h1 {
    font-family: Wix Madefor Display;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #7B181E;
}

.bars_block_description {
    font-family: Cormorant;
    font-weight: 400;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    width: 958px;
    color: #1E0C2D;
    margin-top: 20px;

}

.bars_block_products {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.marsea_line {
    width: 100%;

}
.marsi_a{
    color: #FFFFFF;
    margin-top: 20px;
}
.banner_button a{
    width: 100%;
    color: white;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.line_images {
    width: 120%;
    height: 95px;
    display: flex;
    align-items: center;
    transform: translate(-95px);
}

.line_images img {
    width: 200px;
    margin-right: 35px;

}

.desc_marsea_line {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1_marsea_line {
    width: 462px;
    font-family: Cormorant;
    font-weight: 400;
    font-size: 38px;
    color: #1E0C2D;
    text-align: center;
    text-transform: uppercase;

}

.button_buy {
    padding: 30px 96px;
    color: #FFFFFF;
    background: #7B181E;
    border-radius: 90px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.about_marsea {
    margin: 100px 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.info_about_marsea {
    border-radius: 30px;
    border: 1px solid #CCD7E2;
    background: #FCFCFC;
    padding: 46px 71px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info_about_marsea img{
    width: 155px;
}
.about_marsea_text {
    margin-top: 24px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 18px;
    color: #1E0C2D;
    text-align: center;

}
.about_marsea_text span{
    color: #7B181E;
}

.marsea_image{
    border-radius: 30px;
}
.marsea_image img{
    width: 100%;
}
.powder_block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.powder_block_products {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.powder_block_h1 {
    font-family: Wix Madefor Display;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #7B181E;
}

.powder_block_description {
    font-family: Cormorant;
    font-weight: 400;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    width: 958px;
    color: #1E0C2D;
    margin-top: 20px;

}
.beauty_block_products{
    margin-top: 20px;
}
.beauty_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    position: relative;
}
.beauty_block_h1 {
    font-family: Wix Madefor Display;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #7B181E;
}

.beauty_block_description {
    font-family: Cormorant;
    font-weight: 400;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    width: 958px;
    color: #1E0C2D;
    margin-top: 20px;

}
.beautyCat{
    position: absolute;
    right: 60px;
    top:30px;
}
.beautyLama{
    position: absolute;
    left: 38px;
    bottom: 38px;
}



.kombucha_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.kombucha_block_products {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.kombucha_block_h1 {
    font-family: Wix Madefor Display;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #7B181E;
}

.kombucha_block_description {
    font-family: Cormorant;
    font-weight: 400;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    width: 958px;
    color: #1E0C2D;
    margin-top: 20px;

}


.set_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.set_block_products {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.set_block_h1 {
    font-family: Wix Madefor Display;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #7B181E;
}

.set_block_description {
    font-family: Cormorant;
    font-weight: 400;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    width: 958px;
    color: #1E0C2D;
    margin-top: 20px;
}



.show_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
}
.cat_showbox{
    position: absolute;
    right: 60px;
    top: 120px;
}
.fish_showbox{
    position: absolute;
    transform: rotate(-9deg);
    left: 0px;
    bottom: -161px;
}
.show_box_products {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.show_box_h1 {
    font-family: Wix Madefor Display;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #7B181E;
}

.show_box_description {
    font-family: Cormorant;
    font-weight: 400;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    width: 958px;
    color: #1E0C2D;
    margin-top: 20px;

}
.set_block_products .product_image{
    margin-top: 0;
}
.beauty_block_products .product_image{
    display: flex;
    justify-content: center;
}
.beauty_block_products .product_image img{
    width: 165px;
}

.beauty_block_products .product_short_info {
    margin: 18px 16px 14px 16px;
}